* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: #fff;
    padding: 0;

}

/* começo topbar */
.topbar {
    width: 100%;
    height: 35px;
    background-color: #1E73BE;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    z-index: 10;
}

.topbar .bemvnd {
    display: flex;
    font-size: 7px;
    padding-top: 10px;
    padding-left: 80px;
}

.topbar .local {
    font-size: 7px;
    margin-left: 130px;
}

.topbar .info {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    font-size: 15px;
}

.topbar .info li {
    margin: 0 10px;
    padding-top: 5px;
}

@media (max-width: 768px) {

    .topbar .local,
    .topbar .info {
        display: none;
    }

    .topbar {
        justify-content: center;
        height: auto;
    }

    .topbar .bemvnd {
        font-size: 14px;
        padding-top: 5px;
        padding-left: 0;
    }

    .topbar .bemvnd img {
        width: 20px;
        height: 20px;
    }

    .topbar .bemvnd h1 {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .topbar .bemvnd {
        font-size: 12px;
    }

    .topbar .bemvnd h1 {
        font-size: 14px;
    }
}

.testenav {
    display: grid;
}

/* começo navbar */
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #00BFFF;
    position: relative;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    width: 150px;
    height: 5px;
    display: flex;
    padding-left: 160px;
    align-items: center;
    justify-content: center;
}

.navbar .esquerda {
    width: 150px;
    height: 80px;
    display: flex;
    align-items: center;
}

.navbar .direita {
    flex: 1;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.input-container {
    position: relative;
    display: inline-block;
}

#pesquisa_lupa {
    display: none;
    padding: 5px 30px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#close-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
    font-size: 16px;
    display: none;
}

.dropdown-menu {
    position: absolute;
    box-shadow: 0 0 2px #000;
    display: none;
    justify-content: center;
    text-align: center;
}

.dropdown-menu a {
    display: block;
    color: #000;
    background-color: #EAE8E8;
    width: 200px;
    height: 50px;
    padding-top: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .direita li a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

/* Ícone do menu responsivo */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding-right: 20px;
    color: white;
}

/* Menu lateral responsivo*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #00BFFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media (max-width: 768px) {
    .navbar .direita {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

/* começo carrossel */
.carrossel {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    /* Mantém a posição no fluxo do documento */
    z-index: 5;
    /* Ajustado para garantir que fique abaixo da navbar */
}

.container-slider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-top: 75px;
}

.container-imgs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 330px;
}

.slider {
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.on {
    opacity: 1;
}

#voltar-button {
    left: 10px;
}

#passar-button {
    right: 10px;
}

#voltar-button,
#passar-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
    /* Ajusta o z-index para garantir que os botões não fiquem acima de elementos importantes */
}

#voltar-button img,
#passar-button img {
    width: 100%;
    height: 100%;
}

#passar-button img {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .container-slider {
        margin-top: 10px;
    }

    .container-imgs {
        height: 150px;
    }

    #voltar-button img,
    #passar-button img {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 480px) {
    .container-slider {
        margin-top: 10px;
    }

    .container-imgs {
        height: 150px;
    }

    #voltar-button img,
    #passar-button img {
        width: 60%;
        height: 60%;
    }
}

/* começo produtos home */
.produtos {
    width: 90%;
    height: 400px;
    margin: 50px auto;
    margin-top: 150px;
    text-align: center;
}

.produtos h1 {
    font-size: 2em;
    color: #000000;
    margin-bottom: 20px;
}

.produtos .cases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.produtos .cases .prod {
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s ease;
    text-align: center;
    flex: 1 1 calc(20% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produtos .cases .prod img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain;
}

.produtos .cases .prod h4 {
    color: #FFF;
    margin-top: 10px;
    font-size: 1em;
}

.produtos .cases .prod a {
    text-decoration: none;
    color: inherit;
}

.produtos .cases .prod:hover {
    transform: scale(1.05);
    background-color: #00BFFF;

}

@media (max-width: 768px) {
    .produtos {
        margin-top: 50px;
    }
}

@media (max-width: 480px) {
    .produtos {
        margin-top: 50px;
    }
}

/* começo sobre a empresa */
.sobretech {
    width: 95%;
    height: auto;
    padding-left: 5%;
}

.sobretech .textos {
    width: auto;
    height: auto;
    background-color: #EAE8E8;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.sobretech .textos h1,
.sobretech .textos h2,
.sobretech .textos h3,
.sobretech .textos h4 {
    margin-top: 15px;
}

.sobretech .sobreValores {
    width: 95%;
    height: auto;
    display: flex;
    background-color: #FFF;
    justify-content: center;
    gap: 70px;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.sobretech .sobreValores .item {
    background-color: #EAE8E8;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    margin: 10px;
}

@media (max-width: 768px) {
    .sobretech {
        padding-top: 100px;
    }

    .sobretech .sobreValores {
        display: block;
    }
}

/* começo rodape */
footer {
    width: 100%;
    height: 300px;
    padding-top: 100px;

    color: #FFF;
    clear: both;
    position: relative;
    z-index: 10;
}

footer a {
    color: #FFF;
}

footer .politic {
    text-align: center;
    color: #000;
}

footer .politic a {
    color: #4e4e4e;
}

footer .politic a:hover {
    color: #1E73BE;
}

.tudoRodape {
    height: 270px;
    background-color: #0056b3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

.tudoRodape .esquerdarodape h5:hover {
    color: #D9D9D9;
}

.tudoRodape .esquerdarodape .contats {
    display: flex;
}

.contacts a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
    gap: 10px;
}

.contacts img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.tudoRodape .direitarodape .innfos {
    display: grid;
    gap: 10px;
}

.tudoRodape .direitarodape .innfos input {
    width: 280px;
    height: 35px;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.tudoRodape .direitarodape .innfos button {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #011e38;
    color: #FFF;
    cursor: pointer;
}

@media (max-width: 768px) {
    .tudoRodape .esquerdarodape {
        display: none;
    }
}


/* FALE CONOSCO HTML */
/* começo fale conosco */
.testetudo {
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    padding: 2rem;
    color: #000000;
    align-items: center;
    justify-content: center;
}

.testetudo .esquedaform {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #EAE8E8;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 10px #1E1E1E;
}

.testetudo .contact {
    width: 100%;
    height: 2.5rem;
    background-color: #1E73BE;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    line-height: 2.5rem;
}

.testetudo .contato input,
textarea {
    width: 100%;
    max-width: 300px;
    height: 2rem;
    border-radius: 5px;
    background-color: #D9D9D9;
    border: none;
    padding-left: 0.5rem;
    margin: 0.5rem 0;
}

.testetudo .contato .nome,
.testetudo .contato .email,
.testetudo .contato .foneform,
.testetudo .contato .msg {
    padding-left: 0.5rem;
}

.testetudo .contato .enviar {
    width: 100%;
    max-width: 200px;
    height: 3rem;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testetudo .contato .enviar button {
    background-color: #1E73BE;
    width: 100%;
    max-width: 110px;
    height: 3rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.testetudo .contato .enviar button:hover {
    background-color: #0056b3;
}

.testetudo .direitaform {
    width: 480px;
    height: 420px;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 0 10px #1E1E1E;
}

.testetudo .direitaform h2 {
    align-items: center;
    text-align: center;
    background-color: #1E73BE;
    color: #FFF;
    border-radius: 10px;
}

.testetudo .todasinfo {
    padding-top: 50px;
}

.testetudo .todasinfo .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.testetudo .todasinfo .info-item img {
    margin-right: 10px;
}

/* login e cadastro HTML */
/* começo login e cadastro */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
}

.boxlogin {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px #1E1E1E;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.boxlogin .titlle {
    width: 100%;
    text-align: center;
    background-color: #1E73BE;
    border-radius: 10px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
}

.boxlogin .subtittle {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.boxlogin .email,
.boxlogin .senha,
.user {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.boxlogin .email input,
.boxlogin .senha input,
.user input {
    width: 100%;
    height: 35px;
    padding: 5px;
}

.boxlogin .lembrar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.boxlogin .lembrar h5 {
    margin: 0;
}

.boxlogin .botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botoes .acessar button,
.botoes .voltar button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 15px;
    background-color: #1E73BE;
    color: #FFF;
    cursor: pointer;
}

@media (max-width: 600px) {
    .boxlogin {
        max-width: 90%;
        padding: 15px;
    }

    .boxlogin .titlle {
        height: auto;
        padding: 8px;
    }

    .boxlogin .subtittle {
        padding: 10px;
    }

    .boxlogin .email input,
    .boxlogin .senha input {
        height: 30px;
    }

    .botoes .acessar button,
    .botoes .voltar button {
        height: 30px;
    }
}

/* produtos HTML */
/* começo produtos */
.linhaprinc {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.products {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 5%;
}

.products .produtosBo {
    display: flex;
    gap: 20px;
}

.products .navegaProduct {
    width: 400px;
    height: 260px;
    background-color: #E4E4E4;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px #000000;
}

.products .navegaProduct h3 {
    text-align: center;
}


.products .navegaProduct .prods {
    padding-top: 20px;
    padding-left: 20px;
    gap: 50px;
}

.products .navegaProduct .prods a {
    color: #000;
}

.products .navegaProduct .prods a:hover {
    color: #007bff;
    transition: 0.2s ease-in-out;
}

.product-box {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #E4E4E4;
    text-align: center;
    padding: 20px;
    width: 210px;
    height: 273;
}

.product-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #000;
    transition: 0.5s ease;
}

.product-box img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.product-box h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.product-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.product-box button:hover {
    background-color: #0056b3;
}

.rebites,
.rebiManual,
.rebiHidro {
    display: none;
    flex-direction: column;
    align-items: end;
    padding: 20px;
    gap: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 700px;
}

/* .product-box {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 30%;
    box-sizing: border-box;
} */

.close-button {
    width: 65px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
}

#carrinho-section {
    position: fixed;
    top: 20%;
    right: 0;
    width: 300px;
    height: 50%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
}

#carrinho-items {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

#fechar-carrinho {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#fechar-carrinho:hover {
    background-color: #0056b3;
}

.close-button:hover {
    background-color: #0056b3;
}

@media(max-width: 768px) {
    .products {
        display: block;
    }

    .products .produtosBo {
        flex-wrap: wrap;
        padding-top: 50px;
    }

    .products .navegaProduct {
        width: 350px;
    }
}


/* produtos individuais html */
/* rebitadeira Hidropneumarica */
.sectionProduto {
    display: flex;
    width: 90%;
    padding: 100px;
    gap: 100px;
}

.imgProduto .fundoImagemprod {
    width: 480px;
    height: 380px;
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.imgProduto img {
    width: 350px;
    height: 325px;
}

.acoesProduto {
    width: 70%;
    height: 380px;
}

.acoesProduto .comparEfav {
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: baseline;
    text-align: center;
    display: flex;
    gap: 40px;
    padding-top: 100px;
}

.comparEfav button {
    width: 250px;
    padding: 10px;
    color: #fff;
    background-color: #007bff;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.comparEfav button:hover {
    background-color: #0056b3;
    transition: 0.7s ease-in-out;
    transform: scale(1.05);
}

.comparEfav .favoritar {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.comparEfav .favoritar:hover {
    background-color: #0056b3;
    transition: 0.7s ease-in-out;
    transform: scale(1.05);
}

.sectionProduto .estoqueEctt {
    width: 100%;
    padding-top: 100px;
}

.sectionProduto .estoqueEctt h5 {
    padding-top: 20px;
}

.infoDoProduto{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.infoDoProduto .textosobre{
    width: 90%;
    height: auto;
    padding: 50px;
    background-color: #E4E4E4;
    border-radius: 15px;
}

.prodsRelacionados{
    padding-top: 50px;
    width: 90%;
    height: 400px;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.prodsRelacionados .produtossrelc{
    padding: 25px;
}

.prodsRelacionados h2{
    padding-top: 20px;
}