<div class="linhaprinc">
    <h1>Nossos Produtos</h1>
    <div class="carrinho">
        <a href="#">
            <img src="/icons/icons8-carrinho-30.png" alt="carrinho">
            <span><%= numProduto %></span>
        </a>
    </div>
</div>  