<h4 id="mensagem"></h4>
<footer>
    <div class="tudoRodape">
        <div class="esquerdarodape">
            <h2>Nossos <br>contatos</h2>
            <div class="contacts">
                <a href="#">
                    <img src="/icons/icons8-whatsapp-60.png" alt="whatsFot">
                    <h5>(00)00000-0000</h5>
                </a>
                <a href="#">
                    <img src="/icons/icons8-telefone-60.png" alt="foneFot">
                    <h5>(00)00000-0000</h5>
                </a>
                <a href="#">
                    <img src="/icons/icons8-nova-mensagem-501branco.png" alt="mailFot">
                    <h5>email@email.com</h5>
                </a>
            </div>
        </div>
        <div class="direitarodape">
            <h2>NEWSLETTER</h2>
            <div class="innfos">
                <form action="/Newsletter" method="POST" id="formNewsletter">
                    <h4>Nome:</h4>
                    <input type="text" name="nome" id="nome" placeholder="Escreva seu nome" required>
                    
                    <h4>Email:</h4>
                    <input type="email" name="email" id="email" placeholder="Escreva seu E-mail" required>
                    
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="politic">
        <h4>Desenvolvido por Grupo TechBit-MV - <a href="">POLITICA DE PRIVACIDADE</a></h4>
    </div>
</footer>

<script src="/js/script.js" defer></script>